/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital@0;1&family=Outfit&display=swap");

/* Variables */
:root {
  --blue: #002174;
  --orange: #ff5733;
  --orange-tint: #ffdeb3;
  --orange-tint-1: #ff5733;
  --blue-btn-text: #063c93;
  --blue-tint: #338aff;
  --blue-shade: #004199;
  --fs-lg: 2.5rem;
  --fs-md: 1.2rem;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.white {
  background-color: #fff;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0.75rem 1.25rem;
}

.btn {
  display: inline-block;
  padding: 0.8em 1.2em;
  background-color: var(--orange-tint-1);
  color: var(--blue);
  cursor: pointer;
  transition: transform 100ms ease-in;
  border-radius: 4px;
  font-weight: bold;
}

.btn.btn-outline {
  background: none;
  font-weight: 400;
  border: 1px solid #fff;
  color: #fff;
}

.btn:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}

.section-heading {
  padding-bottom: 1.5em;
  font-size: 2em;
}

.section-padding {
  padding-block: 3em;
}

.border {
  border-radius: 25px;
  border: 2px solid var(--orange);
}

/* Base styles */
.skip-to-main-content {
  position: absolute;
  left: -5000px;
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--blue);
  font-family: "Outfit", sans-serif;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4 {
  font-family: "Figtree", sans-serif;
  color: var(--orange);
}

h3,
h4 {
  color: var(--orange-tint-1);
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

a {
  color: #fff;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
}

details {
  border-bottom: 1px solid var(--orange);
}

summary {
  cursor: pointer;
}

summary:hover {
  opacity: 0.9;
}

details:focus,
summary:focus {
  outline: none;
}

/* --------------------- Navbar ---------------------- */
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .logo {
  width: 180px;
}

#navbar .nav-links {
  display: none;
}

#navbar li {
  transition: transform 100ms ease-out;
  padding-inline: 1em;
}

#navbar li:hover {
  transform: translateY(-0.2rem);
}

/*----------------------- Hero ----------------------*/
#hero .container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

#hero .container > * {
  flex: 1;
}

#hero .hero-heading {
  font-size: 2.5em;
  text-shadow: 5px 5px 190px var(--orange);
}

#hero hgroup p {
  font-size: 1.2em;
  padding-block: 1.3em;
}

#hero .get-started-btn {
  border: 3px solid var(--accent-red);
  margin-right: 1em;
  margin-bottom: 1em;
}

#hero .no-signup-req {
  margin-top: 0;
  font-size: 0.92em;
  color: #fff;
}

/*------------------- Features ----------------- */
.feature-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 230px), 1fr));
  grid-gap: 1em;
}

#features .feature-card-wrapper {
  padding: 2em;
  margin-bottom: 2em;
}

.feature-title {
  font-size: 1.5em;
  margin: 1rem 0;
}

.feature-icon {
  padding: 0.75rem;
  border-radius: 50%;
  font-size: 1.1em;
  color: var(--orange);
}

.feature-description {
  font-size: 1em;
  font-weight: 300;
}

/*--------------- How it works ---------------*/
#how-it-works .section-heading {
  padding-bottom: 1em;
}

#how-it-works .description {
  font-size: 1.2em;
  margin-bottom: 2em;
}

#how-it-works i {
  color: var(--orange);
}

#how-it-works .steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 230px), 1fr));
  gap: 1em;
}

#how-it-works .step {
  margin-bottom: 1rem;
  padding: 1.2em;
  font-weight: 400;
}

#how-it-works img {
  border-radius: 10px;
  height: 150px;
  width: 100%;
  object-fit: cover;
}

#how-it-works h3 {
  font-size: 1.1em;
  color: #fff;
  font-weight: 400;
}

#how-it-works img {
  margin-bottom: 1em;
}

/*---------------- Plans ----------------*/
#plans .plans-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

#plans .plan-card-wrapper {
  background: var(--blue-tint-1);
  color: var(--blue-tint-2);
  padding: 2em;
  flex: 1 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plans h3 {
  font-size: 1.5em;
}

.plan-benefits {
  margin-block: 1em;
  color: #fff;
  margin-left: 1em;
}

.plan-benefit {
  margin-block: 0.5em;
  list-style: circle;
}

/*------------ Testimonials ------------*/
#testimonials .testimonials {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
}

#testimonials .fa-quote-left {
  font-size: 2em;
  margin-bottom: 1rem;
  color: var(--orange-tint-1);
}

#testimonials li {
  padding: 2em;
  min-width: 260px;
}

.testimonial-words {
  color: var(--green-tint-1);
}

#testimonials .testimonials {
  padding-bottom: 2rem;
}

#testimonials .testimonials::-webkit-scrollbar {
  width: 1px;
}

#testimonials .testimonials::-webkit-scrollbar-track {
  background: var(--green-tint-2);
  border-radius: 20px;
}

#testimonials .testimonials::-webkit-scrollbar-thumb {
  background-color: var(--green-tint-1);
  border-radius: 20px;
}

/*-------------- CTA --------------*/
#cta {
  text-align: center;
  padding-block: 0;
}

#cta h2 {
  font-size: 2em;
}

.light-bulb {
  opacity: 0.2;
  max-width: 300px;
  margin-bottom: 1em;
}

.cta-description {
  padding-block: 1.5em;
  font-size: 1.2em;
}

/*---------------- FAQs ---------------*/
#faqs .faqs-wrapper {
  padding: 1.5em 2.3em;
}

#faqs .faqs-wrapper > *:last-child {
  border: 0;
}

#faqs details {
  padding-block: 1em;
}

#faqs .faq-answer {
  margin-top: 1em;
  margin-left: 1em;
}

/*----------------- Newsletter ----------------*/
#newsletter {
  background-color: var(--blue-shade);
  padding-block: 2em;
}
#newsletter .newsletter-heading {
  font-size: 2em;
  text-align: center;
}

#newsletter .newsletter-description {
  color: var(--green-tint-1);
  font-size: 1.2em;
  margin-block: 1.5em;
  text-align: center;
}

#newsletter .optin {
  text-align: center;
}

#newsletter .get-the-guide-btn {
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: none;
  padding-block: 1.4em;
  font-size: 0.8em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .email-input {
  margin-top: 1em;
  border: none;
  width: 40%;
  padding: 1em;
  font-size: 1em;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: "Figtree", sans-serif;
}

#newsletter .optin input:focus {
  outline: none;
}

/*--------------- Footer -------------*/
#footer .footer-link-groups {
  font-size: 1.3em;
}

#footer .footer-link-groups .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.group-of-links-title {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.footer-link {
  margin-bottom: 1em;
}

#footer .socials a {
  font-size: 1.4em;
  margin-right: 1em;
  color: var(--orange);
}

#footer .socials a:hover {
  opacity: 0.9;
}

/*------------- Media queries -----------*/
@media screen and (min-width: 56em) {
  #navbar .nav-links {
    display: flex;
  }

  #hero .container {
    flex-direction: row;
    justify-content: space-between;
  }

  #hero .hero-container {
    flex-direction: row;
    align-items: center;
  }

  #hero .hero-img {
    max-width: 47%;
  }
}
